<main class="bg-darker">
    <div style="grid-area: text;">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil sit ad distinctio dolores pariatur, quis incidunt facilis nisi esse, necessitatibus eum rerum accusamus numquam ex aliquam, ullam nobis exercitationem animi.
            Consectetur blanditiis, assumenda modi consequuntur qui officia aut molestias dolor nemo quam voluptatem ut optio numquam autem explicabo inventore! Magni quis ea earum eum impedit repellendus cum saepe quisquam aliquam.
            Sunt nihil recusandae laboriosam cupiditate quo adipisci quis quod aut, fugit nam animi. Quo laudantium, et vero vel velit earum, porro officiis magni aliquid commodi dolor harum esse voluptate consequatur!
            Ab laudantium qui harum optio quos et facilis aspernatur animi. Voluptas quidem quod est, error reprehenderit tenetur labore dicta laboriosam. Ipsum omnis eveniet assumenda illum ipsam porro, veniam soluta quod.
            Sapiente dolorum quae ipsam temporibus dignissimos quibusdam ex non, excepturi nemo, voluptas incidunt porro, dolore cupiditate optio recusandae accusantium reprehenderit adipisci placeat doloribus? Mollitia harum numquam ipsam iusto! Odit, voluptas.
            Pariatur consequuntur, aut est quia ipsam atque adipisci labore, similique accusamus aliquid obcaecati at inventore maxime esse recusandae architecto deserunt neque repellat sequi dicta nemo illum repudiandae illo! Quo, non!
        </p>
    </div>
    
    <section style="grid-area: icons;">
        <i class="fas fa-comment-medical"></i>
        <i class="fas fa-comments"></i>
        <i class="fas fa-eye-slash"></i>
        <i class="fas fa-fist-raised"></i>
        <i class="fas fa-hand-holding-heart"></i>
        <i class="fas fa-hand-holding-medical"></i>
        <i class="fas fa-hands-helping"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-star-of-life"></i>
        <i class="fas fa-user-secret"></i>
    </section>
</main>