.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.banner > h1 {
    -webkit-text-stroke: 1px #FF375F;
    color: transparent;
    font-size: 5rem;
}

.banner > p {
    color: #e8e8e8;
    margin-top: 0.3em;
}