/* Global variable */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins';
}

.c-white {
	color: #FFF;
}

.c-black {
	color: #000;
}
.c-pink {
	color: #ff375f;
}

.bg-pink {
	background: #ff375f;
}

.bg-darker {
	background: #242424;
}

.active {
	background: #ff375f;
	color: #FFF;
}

.cornerRadius {
	border-radius: 5px;
	border: none;
}

h4 {
	font-weight: 200;
	font-family: 'Montserrat';
}

footer {
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
}

.mainSection p {
	font-weight: 200;
}

.banner {
	height: 25vh;
}

.nav-link:hover {
	color: #ff375f;
}

.ref ul li a {
	color: #ff375f;
}

.download{
	display: grid;
	grid-template: 
		'title title'
		'apple android'
	;
}

.inputs{
	text-align: center;
	font-family: 'Montserrat'
}

.inputs input, .inputs textarea {
	width: 50%;
}

.btn-send{
	color: #ff375f;
	border: 1px solid #ff375f;
	transition: 0.5s;
}

.btn-send:hover{
	background-color: #FFF;
	color: #ff375f;
	border: 1px solid #FFF;
	transition: 0.5s;
}

.desc{
	height: 200px;
}

